{{ 'bizinusProduct.css' | asset_url | stylesheet_tag }}



<div class="mainContainerProduct">
  {% if section.blocks.size > 0 %}
    <div class="topWrapper">
        <div class="topLeft">
            <div class="heading1">{{ section.settings.heading }}</div>
            <h2 class="heading2">{{ section.settings.subHeading }}</h2>
        </div>
        <div class="topRight"></div>
    </div>
  {% endif %}

    <div class="productList">
        {% for block in section.blocks %}
        <div class="listWrapper">
            <div class="productListItem">
                <a href="#" class="linkItem"> 
                    <!-- <div class="cardImage" style="background-image: url(https://assets.website-files.com/5e853c3383474026e43f2c78/5e856e41c718420c18dd6751_patrick-hendry-eDgUyGu93Yw-unsplash.jpg);"> -->
                    <div class="cardImage" style="background-image: url({{ block.settings.product.featured_image | img_url: '600x' }})" >
                        <!-- <img src = ""/> -->
                        {% if block.settings.product.compare_at_price_max != 0 or block.settings.product.compare_at_price_max =="" %}
                        <div class="sale">Sale</div>
                        {% endif %}
                    </div>
                    <div class="productDetailsWrapper">
                        <div class="productDetails">
                            <div class="productName">{{ block.settings.product.title }}</div>
                            <div class="priceWrapper">
                                <div class="productPrice">{{ block.settings.product.price | money_with_currency }}</div>
                                {% if block.settings.product.compare_at_price_max != 0 %}
                                <div class="productPrice productCancelledPrize">{{ block.settings.product.compare_at_price_max | money_with_currency }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
                <div class="productButtonWrapper">
                    <a href="{{ block.settings.product.url }}" class="productButton">Details</a>
                </div>

            </div>
        </div>
        {% endfor %}
        
        
       
    </div>
      <div class="shopMore">
        <a href = "#" class = "shopMoreBtn productButton">{{ section.settings.shopMore }}</a>
    </div>
    
</div>


{% schema %}
  {
    "name": "Product Section",
    "max_blocks":3,
    "settings": [

		{
           "id":"heading",
            "type":"text",
             "label":"Shop Products"
            
         },
		{
             "id":"subHeading",
             "type":"text",
             "label":"Open 24/7/365."
            
        },
		{
           "id":"shopMore",
           	"type":"text",
            "label":"View All Products"
            
         }
	
	],
    "blocks":[{
        "type": "select",
        "name": "select",
        "settings":[
            {
                "id":"product",
                "type":"product",
                "label":"Select Product"
            
            }
			
        ]
    }],
    "presets":[
        {   
            "name":"Product Section",
            "category":"Product Section",
	        "blocks" : [
                {
                    "type":"select"
                },
                {
                    "type":"select"
                },
                {
                    "type":"select"
                }

            ]
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

