{{ 'header-biznus.css' | asset_url | stylesheet_tag }}

<div class="menu-wrap">
    <div class="biznus-header-block">
        <div class="biznus-header-container">
            <div class="biznus-header-container-wrap">
                {%if section.settings.logo == blank %}
                <img src="https://biznus-theme.myshopify.com/admin/themes/129473151221?key=assets/logonav.svg">
                {%else%}
                <a href="https://bit.ly/MeetAdnan" class="logo">
                    <img class="biznus-logo" src="{{section.settings.logo |  img_url: '30x'}}">
                </a>
                {%endif%}
                <div class="biznus-header-rightside">
                    <nav class="biznus-header-nav">
                        {% for link in linklists.main-menu.links %}
                        <a class="biznus-home-list" href="{{ link.url }}">{{ link.title }}</a>
                        {% endfor %}
                    </nav>
                    <nav id="mySidenav" class="sidenav" class="biznus-header-nav">
                        {% for link in linklists.main-menu.links %}
                        <a  href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#9776;</a>
                        <a class="biznus-home-list" href="{{ link.url }}">{{ link.title }}</a>
                        {% endfor %}
                    </nav>
                    <a href="{{section.settings.link-cart}}" class="cart-btn">
                        {%include "icon-cart-1"%}
                        <div class="items-in-cart">{{cart.item_count}}</div>
                    </a>
                    <span class="nav-btn" onclick="openNav()">&#9776;</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

{% schema %}
{
    "name": "t:sections.header.name",
    "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "t:sections.header.settings.logo.label"
        },
        {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "t:sections.header.settings.menu.label"
        },
        {
            "type": "url",
            "id": "link-cart",
            "label": "cart page url here"
        }

    ]
}
{% endschema %}