<link rel="stylesheet" href="{{ 'new-product-section.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="container">
  
  <div class="top-wrapper">
            <div class="wrapper-flex">
                <div class="top-details">{{section.settings.title}}</div>
                <div class="top-heading support-top-heading">{{section.settings.text}}</div>
            </div>
      </div>
  
  
  <div class="shop-top-wrapper">
    <div class="wrapper-flex">
      <div class="support-top-details-text">{{ section.settings.title}}</div>
      <div class="support-top-heading">{{ section.settings.text}}</div>
    </div>

  </div>
  <div class="products-list-wrapper ">
    <div role="list" class="products-list w-dyn-items">
      {%- for product in section.settings.collection.products limit:3 -%} 
      
      <div role="listitem" class="w-dyn-item">
        
       <div class="shop-item-wrapper">
          <a href={{product.url}} class="shop-item-link-wrapper w-inline-block">
           <div class="shop-image" style="background-image: url({{ product.featured_image | img_url:'large'}});">
             
             {% if product.compare_at_price %}
                            <div class="shop-sale ">
                                Sale
                            </div>
                            {% else %}
                            <div class="">
                            </div>
                            {% endif %}
             </div>
            <div class="shop-item-name">{{product.title}}</div>
            
            
            <div class="shop-details-wrapper">
            <div class="shop-details-left">
              
              <div class="price">
                 <div class="product-price">{{product.price | money_with_currency}}  </div>
                    {% if product.compare_at_price_max != 0 %}
                   <div class="product-discount">{{ product.compare_at_price_max | money_with_currency }} </div>
                     {% endif %}
              </div>
              </div>
            </div>
         </a>
         
         <div class="shop-button-wrapper "><a href={{product.url}} class="btn w-button ">Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
     </div></div>
  <div class="shop-more ">
    <a href="{{ section.settings.shop-more-product }}" class="btnb w-button">View All Products</a>
  </div>
</div>

{% schema %}
  {
    "name": "Product Section",
    
     "settings": [
          {
          "type":"text",
          "id":"title",
		  "default": "PRODUCT SESSION",
          "label": "title"
        },
        {
          "type": "text",
          "id": "text",
		  "default": "Open on 5-12-21",
          "label": "text"
        },
		{
          "type": "collection",
          "id": "collection",
           "label": "collection"
        }
          ],



 "presets": [
    {
      "name": "Product section"
      
    }
  ]
 }
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
