<link rel="stylesheet" href="{{ 'new-product-section.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="container">
  <div class="shop-top-wrapper">
    <div class="support-top-left">
      <div class="support-top-details-text">{{ section.settings.title}}</div>
      <h2 class="support-top-heading">{{ section.settings.text}}</h2>
    </div>
    <div class="support-top-right"></div>
  </div>
  <div class="products-list-wrapper w-dyn-list">
    <div role="list" class="products-list w-dyn-items">
      {%- for product in section.settings.collection.products limit:3 -%} 
      
      <div role="listitem" class="w-dyn-item">
        
       <div class="shop-item-wrapper">
          <a href={{product.url}} class="shop-item-link-wrapper w-inline-block">
           <div class="shop-image1" style="background-image: url({{ product.featured_image | img_url:'large'}});">
             
             {% if product.compare_at_price %}
                            <div class="shop-sale">
                                Sale
                            </div>
                            {% else %}
                            <div class="">
                            </div>
                            {% endif %}
             {% if product.compare_at_price_max != 0 %}
                                    <div class="product-discount">{{ product.compare_at_price_max | money_with_currency }}</div>
                                    {% endif %}
            
            <div class="shop-details-wrapper">
            <div class="shop-details-left">
              <div class="shop-item-name">{{product.title}}</div>
              <div class="price-wrapper">
                <div class="shop-item-price">{{product.price | money_with_currency}}</div>
                <div class="shop-item-price compare w-condition-invisible w-dyn-bind-empty">
                </div>
              </div>
              </div>
            </div>
         </div></a>
         
         <div class="shop-button-wrapper"><a href="/product/white-tent" class="btn w-button">Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
     </div></div>
  <div class="shop-more">
    <a href="/shop" class="btn dark w-button">View All Products</a>
  </div>
</div>

{% schema %}
  {
    "name": "Product Section",
    
     "settings": [
          {
          "type":"richtext",
          "id":"title",
		  "default": "<p>PRODUCT SESSION</p>",
          "label": "title"
        },
        {
          "type": "richtext",
          "id": "text",
"default": "<p>Add details on availability</p>",
          "label": "text"
        },
		{
          "type": "collection",
          "id": "collection",
           "label": "collection"
        }
          ],



 "presets": [
    {
      "name": "Product section",
      "blocks": [
        
]
    }
  ]
 }
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
