<link rel="stylesheet" href="{{ 'new-product-section.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="container">
  <div class="shop-top-wrapper">
    <div class="support-top-left">
      <div class="support-top-details-text">{{ section.settings.title}}</div>
      <h2 class="support-top-heading">{{ section.settings.text}}</h2>
    </div>
    <div class="support-top-right"></div>
  </div>
  <div class="products-list-wrapper w-dyn-list">
    <div role="list" class="products-list w-dyn-items">
      
      {%- for product in section.settings.collection.products limit:3 -%} 
      <div role="listitem" class="w-dyn-item">
       <div class="shop-item-wrapper">
          <a href={{product.url}} class="shop-item-link-wrapper w-inline-block">
           <div class="shop-image1" style="background-image: url({{ product.featured_image | img_url:'large'}});">
             <div data-wf-sku-conditions="%7B%22condition%22%3A%7B%22fields%22%3A%7B%22default-sku%3Acompare-at-price%22%3A%7B%22exists%22%3A%22yes%22%2C%22type%22%3A%22CommercePrice%22%7D%7D%7D%2C%22timezone%22%3A%22America%2FChicago%22%7D" class="pill-2 badge primary sale w-condition-invisible">Sale</div>
            
            <div class="shop-details-wrapper">
            <div class="shop-details-left">
              <div class="shop-item-name">{{product.title}}</div>
              <div class="price-wrapper">
                <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="shop-item-price">{{product.price | money_with_currency}}</div>
                <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" data-wf-sku-conditions="%7B%22condition%22%3A%7B%22fields%22%3A%7B%22default-sku%3Acompare-at-price%22%3A%7B%22exists%22%3A%22yes%22%2C%22type%22%3A%22CommercePrice%22%7D%7D%7D%2C%22timezone%22%3A%22America%2FChicago%22%7D" class="shop-item-price compare w-condition-invisible w-dyn-bind-empty">
                </div>
              </div>
              </div>
            </div>
         </div></a><div class="shop-button-wrapper"><a href="/product/white-tent" class="btn w-button">Details</a>
          </div>
        
      </div>
      {% endfor %}
     </div></div>
  <div class="shop-more">
    <a href="/shop" class="btn dark w-button">View All Products</a>
  </div>
</div>

{% schema %}
  {
    "name": "Product Section",
    
     "settings": [
          {
          "type":"richtext",
          "id":"title",
		  "default": "<p>PRODUCT SESSION</p>",
          "label": "title"
        },
        {
          "type": "richtext",
          "id": "text",
"default": "<p>Add details on availability</p>",
          "label": "text"
        },
		{
          "type": "collection",
          "id": "collection",
           "label": "collection"
        }
          ],



 "presets": [
    {
      "name": "Product section",
      "blocks": [
        
]
    }
  ]
 }
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
