{{ 'new-hero-section.css' | asset_url | stylesheet_tag }}

<div class="hero-section" style="background-image: linear-gradient(360deg, rgba(34, 34, 34, 1) 0%, rgba(0, 0, 0, 0) 100%), url({{section.settings.images-box-content | img_url: '1200x'}});">
    <div class="container">
          <div class="hero-wrapper">
              <h1 class="hero-heading">{{section.settings.heading-txt}}</h1>
              <p class="hero-para">{{section.settings.para-txt}}</p>
              <div class="hero-button">
                  <a class="aa" href="{{section.settings.btn-lnk}}">{{section.settings.btn-txt}}</a>
              </div>
          </div>

    </div>
</div>

{% schema %}

  {
    "name": "Hero Section",
    "settings": [
        {
            "id": "images-box-content",
            "label":"background image",
            "type": "image_picker"
        },
        {
            "type": "text",
            "id": "heading-txt",
            "label": "Your Heading goes here",
            "default": "Serving you since 1989."
  
        },
        {
            "type": "text",
            "id": "para-txt",
            "label": "Your Sub-heading goes here",
            "default": "Acme Outdoors is an outdoor and adventure shop located in the Boathouse District in Oklahoma City."
  
        },
        {
            "id":"btn-lnk",
            "type": "url",
            "label":"Your Button URL here"
        },
        {
            "type": "text",
            "id": "btn-txt",
            "label": "Button Text here",
            "default": "Shop Merch",
            "info": "This is a button"
        }        
    ],

    "presets": [
        {
            "category": "Adnan Custom",
            "name":"New Hero Section"
        }
    ]
  }



{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
