<link rel="stylesheet" href="{{ 'product.css' | asset_url }}" media="print" onload="this.media='all'">
<div class="container">

<h2>{{ section.settings.title}}</h2>
<p>{{ section.settings.text}}</p>

<div class="row">
            
{%- for block in section.blocks -%}
  <div class="column">
    <div class="card">
      <img src={{ block.settings.image| img_url: '100px'}} alt="shopping" class="img1">
      <p>{{block.settings.details}}</p>
      <p>{{block.settings.Price}}</p>
      <button name="Details" value="Details">Details</button>
    </div>
  </div>
{% endfor %}
   
</div>
</div>
</body>
</html>


{% schema %}
  {
    "name": "Product Section",
    "max_blocks":3, 
     "settings": [
          {
          "type":"richtext",
          "id":"title",
		  "default": "<p>Product Section</p>",
          "label": "title"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p> Add details on availability, style, or even provide a review.</p>",
          "label": "text"
        }
      ],

"blocks":[
{
	"type": "image_picker",
    "name": "product",
	"settings":[
		{
		"type": "image_picker",
        "id": "image",
      	"label": "Image"
		},
		{
          "type": "richtext",
          "id": "details",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "details"
        },
		{
          "type": "richtext",
          "id": "Price",
		   "default": "<p>Price</p>",
          "label": "Price"
        }
]
}
],

 "presets": [
    {
      "name": "Product section",
      "blocks": [
        {
          "type": "image_picker"
        }
]
    }
  ]
 }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
