
{{ 'product-section.css' | asset_url | stylesheet_tag }}
<div class="section">
    <div class="container">
        <div class="top-wrapper">
            <div class="wrapper-flex">
                <div class="top-details">{{section.settings.top-details}}</div>
                <div class="top-heading">{{section.settings.top-heading}}</div>
            </div>
      </div>
            
                <div class="product-list">
                    <div class="products-items">
                        <div class="w-dyn-item">
                            {%- for product in section.settings.collection.products limit:3 -%}
                            <div class="shop-items">
                                <a class="shop-item-linker" href="{{ product.url}}">


                                    <div class="shop-image" style="background-image: url({{ product.featured_image | img_url:'large'}});">
                                        {% if product.compare_at_price %}
                                        <div class="sale">
                                            Sale
                                        </div>
                
                                        {% endif %}
                                    </div>
                                    <div class="shop-details">
                                        <div class="shop-details-left">
                                            <div class="shop-details-name">{{ product.title}}</div>
                                            <div class="price-wrapper">
                                                <div class="shop-item-price">{{product.price | money_with_currency}} </div>
                                                {% if product.compare_at_price_max != 0 %}
                                                <div class="shop-item-price-cancelled">{{ product.compare_at_price_max | money_with_currency }} EURO</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                </a>
                              <div class="shop-button">
                       				 <a class="btn" href="{{product.url}}">
                           					 Details
                        				</a>
                   			 </div>
                            </div>

                        {% endfor %}

                    </div>


                </div>
            </div>
        </div>
    </div>



    {% schema %}
    {
    "name": "product-section",

    "settings": [
    {
    "id":"top-details",
    "type":"text",
    "label":"details",
    "default":"your-details"
    },
    {
    "id":"top-heading",
    "type":"text",
    "label":"heading",
    "default":"your-heading"
    },
    {
    "id":"collection",
    "type":"collection",
    "label":"enter your collection"
   
     }

    ],

    "presets": [
    {
    "category": "ADVANCE LAYOUT",
    "name": "product-section"


    }
    ]


    }
    {% endschema %}

    {% stylesheet %}
    {% endstylesheet %}

    {% javascript %}
    {% endjavascript %}