<link rel="stylesheet" href="{{ 'product.css' | asset_url }}" media="print" onload="this.media='all'">
<div class="container">

<p class="para">{{ section.settings.title}}</p>
<h2 class="title">{{ section.settings.text}}</h2>

<div class="row">
            
 {%- for block in section.blocks -%}
  <div class="column">
    <div class="card">
        <img src={{ block.settings.product.featured_image| img_url: '300x'}} alt="{{ block.settings.product.featured_image.alt | default: block.settings.product.title }}" class="img1">
    </div>
      <h4 class="details">{{block.settings.product.title}}</h4>
      <h5 class="details ">{{block.settings.product.price | money}}</h5>
      <button name="Details" value="Details" class="btn">Details</button>
  </div>
{% endfor %}
   
</div>
  
  <div class="row">
            
{%- for block in section.settings.collection.products limit:3 -%}
  <div class="column">
    <div class="card">
        <img src={{ block.url| img_url: '300x'}} alt="{{ block.settings.product.featured_image.alt | default: block.settings.product.title }}" class="img1">
    </div>
      <h4 class="details">{{block.title}}</h4>
      <h5 class="details ">{{block.price | money}}</h5>
      <button name="Details" value="Details" class="btn">Details</button>
  </div>
{% endfor %}
   
</div>
</div>


{% schema %}
  {
    "name": "Product Section",
    "max_blocks":3, 
     "settings": [
          {
          "type":"richtext",
          "id":"title",
		  "default": "<p>Product Section</p>",
          "label": "title"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p> Add details on availability</p>",
          "label": "text"
        },
        {
        "type": "collection",
        "id":"collection",
        "label":"collection"

        }
              ],

"blocks":[
{
	"type": "image_picker",
    "name": "product",
	"settings":[
		{
		"type": "product",
        "id": "product",
      	"label": "Select product"
		}
]
}
],

 "presets": [
    {
      "name": "Product section",
      "blocks": [
        {
          "type": "image_picker"
        }
]
    }
  ]
 }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
