<link rel="stylesheet" href="{{ 'product.css' | asset_url }}" media="print" onload="this.media='all'">
<div class="container">

<p class="para">{{ section.settings.title}}</p>
<h2 class="heading">{{ section.settings.text}}</h2>

<div class="row box">
            
 {%- for block in section.blocks -%}
  <div class="column">
    <div class="card">
        <img src={{ block.settings.product.featured_image| img_url: '300x'}} alt="{{ block.settings.product.featured_image.alt | default: block.settings.product.title }}" class="image">
    </div>
      <h4 class="details">{{block.settings.product.title}}</h4>
      <h5 class="details ">{{block.settings.product.price | money}}</h5>
      <button name="Details" value="Details" class="btn">Details</button>
  </div>
{% endfor %}
   
</div>
  
  
</div>



<div class="container">

<div class="row box">
       
 {%- for product in section.settings.collection.decoration -%} 
  <div class="column">
    <div class="card">
        <img src={{ product.featured-image| img_url: '300x'}} class="image">
    </div>
      <h4 class="details">{{product.title}}</h4>
      <h5 class="details ">{{product.price | money}}</h5>
      <button name="Details" value="Details" class="btn">Details</button>
  </div>
{% endfor %}
   
</div>
  
  
</div>


{% schema %}
  {
    "name": "Product Section",
    "max_blocks":3, 
     "settings": [
          {
          "type":"richtext",
          "id":"title",
		  "default": "<p>PRODUCT SESSION</p>",
          "label": "title"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p> Add details on availability</p>",
          "label": "text"
        },
		{
          "type": "collection",
          "id": "collection",
           "label": "collection"
        }
          ],

"blocks":[
{
	"type": "image_picker",
    "name": "product",
	"settings":[
		{
		"type": "product",
        "id": "product",
      	"label": "Select product"
		}
]
}
],

 "presets": [
    {
      "name": "Product section",
      "blocks": [
        {
          "type": "image_picker"
        }
]
    }
  ]
 }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
