{{ 'shop-section-content.css' | asset_url | stylesheet_tag }}

<div class="main-content-section">

    <div class="main-content-container">
        <div class="main-content-container-wrap">

            <div class="shop-menu">

                <div class="menu-heading">
                    {{section.settings.menu-heading}}
                </div>

                <ul class="indicator">
                    <li class="menu-list-items active">
                        <a data-filter="ALL" href="#" class="cat-btn">{{section.settings.cat-btn}}</a>
                    </li>        
                    {%- for product in section.settings.collection.products -%}
                    <li class="menu-list-items active">
                        <a data-filter="{{product.type}}" href="#" class="cat-btn">{{product.type | uniq }}</a>
                    </li>
                    {% endfor %}                              
                  
                </ul>
            </div>


            <div class="product-list-wrap">
                <ul class="product-list" id="store-products">

                    {%- for product in section.settings.collection.products -%}
                    <li class="item-list {{product.type}}">
                        <div class="shop-item-wrap">
                            <a class="shop-item" href="{{product.url}}">
                                <div class="shop-imgg">
                                    <div class="shop-imggg">
                                        <img class="shop-image" src="{{ product.featured_image | img_url:'1200x'}}">
                                        {% if product.compare_at_price %}
                                        <div class="shop-sale">
                                            Sale
                                        </div>
                                        {% endif %}
                                    </div>

                                </div>
                                <div class="shop-details-wrap">
                                    <div class="shop-details">
                                        <div class="shop-item-name">{{ product.title}}</div>
                                        <div class="price">
                                            <div class="product-price">{{product.price | money_with_currency}}</div>
                                            {% if product.compare_at_price_max != 0 %}
                                            <div class="product-discount">{{ product.compare_at_price_max |  money_with_currency }}</div>
                                            {% endif %}
                                        </div>

                                    </div>

                                </div>
                            </a>
                            <div class="shop-btn-wrap">
                                <a class="shop-btn aaa" href="{{product.url}}">
                                    {{section.settings.shop-btn}}
                                </a>
                            </div>
                        </div>
                        {% endfor %}

                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<script src="main.js"></script>

{% schema %}

{
    "name": "Product Content",
    "settings": [
            {
                "type": "text",
                "id": "menu-heading",
                "label": "Top shop details goes here",
                "default": "Shop by Category"

            },
            {
                "type": "text",
                "id": "shop-btn",
                "label": "Type some text for button",
                "default": "Details"
            },
            {
                "type": "collection",
                "id":"collection",
                "label":"collection here"
            },
            {
                "type": "text",
                "id": "cat-btn",
                "label": "Type some text",
                "default": "All Products"
            }
           
        ],



    "presets": [
            {
                "category": "Adnan Custom",
                "name":"Product Content Section"
            }
        ]
}

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}