{{ 'support-section.css' | asset_url | stylesheet_tag }}
<div class="section">
<div class="container">
<div class="top-wrapper">
    <div class="wrapper-flex">
        <div class="top-details">{{section.settings.top-details}}</div>
        <div class="top-heading">{{section.settings.top-heading}}</div>
    </div>
    <div class="para">{{section.settings.para}}</div>
</div>
     <div class="contain">
 {% for blocks in section.blocks %}    
<div class="column1">
  <div class="square">
      <div class="nos">0{{ forloop.index}}</div>
      <div class="heading">{{blocks.settings.heading}}</div>
      <div class="images{{ forloop.index}}">
          <!-- <img src="./Triangle.svg" alt="triangle-image"> -->
          <img src="{{blocks.settings.images | img_url: 'medium'}}"/>
      </div>

  </div>
  <div class="para">{{blocks.settings.para}}</div>
  
</div>
{% endfor %}
       </div>
</div>
</div>


{% schema %}
  {
    "name": "support-section",
	
    "settings": [
		{
        "id":"top-details",
        "type":"text",
        "label":"details",
       "default":"your-details"
        },
        {
            "id":"top-heading",
            "type":"text",
            "label":"heading",
           "default":"your-heading"
         },
         {
            "id":"para",
            "type":"text",
            "label":"para",
           "default":"your-paragraph"
        }
     ],
		"blocks":[
        {
            "name":"support-block",
            "type":"infocard",
            "settings":[
                {
                "id":"heading",
                "type":"text",
                "label":"Heading",
                "default":"My heading"
                },
                {
                "id":"images",
                "type":"image_picker",
                "label":"imagepic"
                 
                },
                {
                "id":"para",
                "type":"richtext",
                "label":"paragraph",
				"default":"<p>Details of products</p>"
                }

                    
            ]


        }
  ],

        "presets": [
                {
                    "category": "ankit-section",
                    "name":"support-section"

                }
            ]


  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
